{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% block script %}
    <script type="text/javascript" src="{% static 'network/edit.js' %}"></script>
{% endblock %}

<div class="p-3">
    {% for post in page_obj %} 
        <div class="border border-secondary rounded p-3 mt-2">
            <h4><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></h4>
            <div>{{ post.post }}</div>
            <button class="btn mr-1 d-inline-block" style="background-color:white; border-color: red;" id="like-btn-{{post.id}}" onclick="like('{{ post.id }}')"></button>   
            <div id="like-count-{{post.id}}" class="d-inline-block">{{ post.likes }}</div>
            <div>{{ post.timestamp }}</div>
        </div>
    {% empty %}
        <li>no post</li>
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    
</div>

{% endblock %}